<mat-card>
  <mat-card-header>
    <mat-card-title>
      <fa-icon *ngIf="answerResult" [icon]="answerResult"></fa-icon>
      {{question.title}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <mat-button-toggle-group name="{{question.id}}">
      <mat-button-toggle *ngFor="let answer of question.answers"
        value="{{answer.id}}"
        (click)="selectAnswer(question, answer)">
        {{answer.title}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-actions>
</mat-card>
