.game-title {
  text-align: center;
  img {
    display:block;
    margin:auto;
    height: 220px;
    width: auto;
  }
}

.spacer {
  height: 35px;
}

.grid-container {
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-rows:50% 50%;
  grid-template-columns:25% 25% 25% 25%;
  grid-gap: 0;
  margin: auto;

  img {
    width: 150px;
    display: block;
  }
  .picture-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    background-size: 100% 100%;
    opacity: 0.75;
  }
}
