.game-title {
  text-align: center;
  img {
    display:block;
    margin:auto;
    height: 220px;
    width: auto;
  }
}

.spacer {
  height: 35px;
}

.grid-container {
  text-align: center;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-rows:auto 50% 50% auto;
  grid-template-columns:25% 25% 25% 25%;
  grid-gap: 0;
  margin: auto;

  img {
    width: 150px;
    display: block;
  }
  .picture-container {
  }
}
