<div class="game-headline">
  <h1>
    Guess the secret Zühlke Employee!
  </h1>
  <div class="headline">
    <img src="assets/silhouette.jpg">

    <div class="grid-container">
      <div class="grid-item"><img src="assets/random_pictures/2.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/7.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/32.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/43.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/54.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/66.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/67.jpg"></div>
      <div class="grid-item"><img src="assets/random_pictures/85.jpg"></div>
    </div>
  </div>
</div>
