.game-title {
  text-align: center;
  img {
    display:block;
    margin:auto;
    height: 220px;
    width: auto;
  }
}

.hint {
  height: 35px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 15pt;
}

$picture-size: 160px;

.grid-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
}

.grid {
  height: calc(100vh - 160px);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 72% 25%;
  grid-gap: 15px;
  margin: auto;
}

.gallery-grid-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: $picture-size*4;
}

.gallery-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: repeat(4, $picture-size);
  grid-gap: 25px;
  margin: auto;

  img {
    width: $picture-size;
    display: block;
  }

  .picture-container {
    position: relative;
    width: $picture-size;
    height: $picture-size;
    margin: 0;
    padding: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    background-size: 100% 100%;
    opacity: 0.75;
  }
}

.question-container {
  height: 100%;
}
